<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recipes | <%=@recipe.name %></title>
</head>
<body>
  <h1><%=@recipe.name  %></h1>
  <h2><%=@recipe.ingredients  %></h2>
  <h2><%=@recipe.cook_time  %></h2>

  <form method="POST" action="/recipes/<%=@recipe.id%>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="delete" id="Submit">
  </form>
  
</body>
</html>